apiVersion: v1
data:
  application.properties: |-
    server.shutdown=graceful

    # Expose all actuator endpoints
    management.endpoints.web.exposure.include=*

    # MongoDB
    spring.data.mongodb.uri = mongodb+srv://username:password@production.zin8auy.mongodb.net/test?retryWrites=true&w=majority
kind: ConfigMap
metadata:
  creationTimestamp: "2023-03-13T17:23:00Z"
  name: mobilispect-api
  namespace: default
  resourceVersion: "526288"
  uid: 550fdf0b-827b-4faa-bba7-7ef8a58d23c8
