apiVersion: v1
data:
  application.properties: |-
    server.shutdown=graceful

    # Expose all actuator endpoints
    management.endpoints.web.exposure.include=*

    # MongoDB
    spring.data.mongodb.uri = mongodb+srv://<db_username>:<db_password>@mobilispect-mongodb.jl80m.mongodb.net/?retryWrites=true&w=majority&appName=mobilispect-mongodb
kind: ConfigMap
metadata:
  name: mobilispect-api
